body{
    background: url("image/background.jpeg"); 
}

header{
    justify-content: center;
    text-align: center;
    padding: 4%;
}

header h4{
    color: #CB0D0D;
}

header h1{
    letter-spacing: 18px;
}
 
/*--------------- la navbar ----------------*/
.bg-light{
    height: 7rem;
    background-color: #490909 !important;    
}

/* -- --------------- section Fresh cofee ---------------- -- */
#cofee .work{
    background-color: hsl(34, 73%, 87%);
    position: absolute;
}

#cofee h3{
    letter-spacing: 10px;
    margin: 20px;
}

#cofee button{
    width: 17vh;
    background-color: #7B261A ;
}

#cofee .work2{
    margin-left: 300px;
    position: reltive;
}


/* section our promise */

#promise .container-fluid{
    background-color: #CB0D0D !important;
    height: 40rem !important;
    justify-content: end;
}

#promise .card{
    background-color: transparent;
}

#footer .container{
    background-color: #490909;
}


